body {
    margin: 0;
  }


#container {
    font-family: sans-serif;
    display: flex;
    background-color: white;
    flex-direction: column;
}

figure {
    display: flex;
    justify-content: center;
}

img {
    width: 50px;
    min-width: 200px;
    border-radius: 50%;
    margin: 10px auto;
    box-shadow: 0 5px 2px -2px black;
}

#h1 {
    display: flex;
    justify-content: center;
    color: gray;
    font-weight: normal;

}

#tyear {
    padding-left: 300px;
}

#tyear2 {
    padding-left: 299px;
}

#tyear3 {
    padding-left: 319px;
}

#tloc {
    padding-left: 281px;
    padding-bottom: 30px;
    font-size: small;
    padding-top: 2px;

}

#uni {
    padding-bottom: 30px;
    font-size: small;
    padding-top: 2px;
}

#h2 {
    display: flex;
    justify-content: center;
    color: gray;
    font-weight: normal;
}

#p {
    display: flex;
    justify-content: center;
    color: purple;
}

#Rh1 {
    display: flex;
    justify-content: start;
    margin-left: 7.5%;
    font-size: xx-large;
    color: gray;
}

#Rp {
    display: flex;
    justify-content: start;
    margin-left: 7.5%;
    margin-right: 10%;
}

#Rsp {
    display: flex;
    justify-content: start;
    margin-left: 7.5%;
    margin-right: 10%;
}

#Rtable {
    display: flex;
    justify-content: start;
    margin-left: 7.5%;
}


#nav {
    display: flex;
    background-color: #f8f7f7;
    justify-content: center;
    height: 7.5vh;
    border-style: solid;
    border-width: 1px;
    border-color: lightgray;
    align-items: center;
    font-size: 18px;

}

#menu {
  margin-block: 5px;
  margin-inline: 30px;
  padding: 10px;
  color: slategray;
  justify-content: center;
  text-decoration: none;

}

#selected {
    color: purple;
    margin-block: 5px;
    margin-inline: 30px;
    padding: 10px;
    justify-content: center;
    text-decoration: none;
}

#LeftSidebox {
    background: white;
    flex: 1 0 33%;
}

#RightSidebox {
    background: white;
    flex: 1 0 67%;
    border-left: 1px solid lightgray;
    padding-right: 80px;

}

footer {
    background-color: white;
    height: 7.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid lightgray;
}

#content {
    display: flex;
    flex-direction: row;
    background-color: white;
    height: 85vh;
    padding-bottom: 30px;
    padding-top: 30px;
    /*min-height: ;*/
}

.list {
    display: flex;
    justify-content: start;
    margin-left: 7.5%;
    margin-bottom: 20px;
}

#credits {
    color: rgb(192, 192, 192);
    display: flex;
    justify-content: start;
    margin-left: 7.5%;
    margin-right: 10%;
}
#purplelink {
    color: purple;
    text-decoration: none;

}

div.top_bar
{
    height: 2.5px;
    background-color: purple;
    margin-top: 10px;
}

.progress {
    display: flex;
    flex: 1;
    justify-content: center;
    height: 15px;
    width: 80%;
    background-color: rgb(234, 232, 232);
    border-radius: 25px;
    margin-left: 7.5%;
    margin-right: 10%;
    margin-bottom: 3%;
}

.fill1 {
    display: flex;
    flex: 1;
    width: 100%;
    justify-content: left;
    height: 15px;
    background-color: rgb(15, 172, 225);
    border-bottom-left-radius: 25px;
    border-radius: 25px;
}
.fill2 {
    display: flex;
    flex: 1;
    width: 90%;
    justify-content: left;
    height: 15px;
    background-color: rgb(15, 172, 225);
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    margin-right: 10%;

}
.fill3 {
    display: flex;
    flex: 1;
    width: 70%;
    justify-content: left;
    height: 15px;
    background-color: rgb(15, 172, 225);
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    margin-right: 25%;

}
.fill4 {
    display: flex;
    width: 65%;
    flex: 1;
    justify-content: flex-start;
    height: 15px;
    background-color: rgb(15, 172, 225);
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    margin-right: 35%;
}

#label {
    margin-left: 7.5%;
    margin-right: 10%;
    margin-bottom: 1%;
}

.progress > span {
    background-color: blue;
    justify-content: start;

}


@media only screen and (max-width: 800px) {
    #nav {
        display: flex;
        background-color: #f8f7f7;
        justify-content: center;
        height: 7.5vh;
        border-style: solid;
        border-width: 1px;
        border-color: lightgray;
        align-items: center;
        font-size: 18px;
    
    }
    
    #menu {
      margin-block: 5px;
      margin-inline: 30px;
      padding: 10px;
      color: slategray;
      justify-content: center;
      text-decoration: none;
    
    }
    #content {
        display: flex;
        flex-direction: column;
        min-height: 1000px;
        background-color: white;
        padding-bottom: 30px;
        padding-top: 30px;
        /*min-height: ;*/
    }

    #LeftSidebox {
        background: white;
        flex: 1 0 33%;
    }
    
    #RightSidebox {
        background: white;
        flex: 1 0 67%;
        border-left: 1px solid lightgray;
        border-top: 1px solid lightgray;
        padding-right: 80px;
    
    }

}